@model IEnumerable<Models.Player>
@{
  ViewData["Title"] = "Players List";

}

<div>
  <h2>Players List</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Player ID</th>
        <th>Full Name</th>
        <th>Height</th>
        <th>Positions</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var player in Model)
      {
        <tr>
          <td>@player.PlayerID</td>
          <td>@player.FullName</td>
          <td>@(player.Height + "cm")</td>
          <td>@player.Positions</td>
          <td>
            <!-- more -->
          </td>
        </tr>
      }
    </tbody>
  </table>
  <form asp-controller="Player" asp-action="Add" method="get">
    <button type="submit" class="btn btn-primary">Add new player</button>
  </form>
</div>